  
               <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="x_panel" style="height: auto;">
                  <div class="x_title">
                    <h2>Posts Source </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link" id="likedpages"><i class="fa fa-chevron-down"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content" style="display: block;">  
                    
                      
                      <div class="input-group">
                        <input type="text" id="pagesourcelink" class="form-control" placeholder="https://www.facebook.com/explictgists/">
                    <span class="input-group-btn">
                        <div class="btn-group">
                      <button type="button" class="btn btn-success" id="addpagesource" style="float:none;">Add</button>
                      <button type="button" style="float:none;" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a>
                        </li>
                      </ul>
                    </div>
                        
                         <!-- <button type="button" id="addpagesource" class="btn btn-success">Add</button> -->
                        </span>
                          
                      </div>
                      
                    <div id="page_sources">  
                            
                    </div>           
                  </div>
                </div>
                </div> 